@page "/login"
@layout AuthLayout
@inherits AuthBase

<section class=" bg-gradient-to-r from-[#661F1F] via-[#2B1F1F] to-[#000000] w-full h-full min-h-screen flex items-center justify-center">
    <div class=" w-full bg-white max-w-5xl h-[700px] flex rounded-2xl shadow-2xl  lg:flex-row  overflow-hidden">

      
        <div class="w-full lg:w-1/2 px-8 py-20 justify-center">
            <h1 class="font-bold text-3xl text-warning text-center">Login</h1>
            <p class="text-sm mt-4 font-medium text-center text-black">If you are already a member, please log in</p>

            <MudTextField Label="Email"
                          @bind-Value="loginModel.Email"
                          Variant="Variant.Outlined"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Email"
                          Class="mb-4"
                          FullWidth="true" />

            <MudTextField Label="Password"
                          @bind-Value="loginModel.Password"
                          InputType="InputType.Password"
                          Variant="Variant.Outlined"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Lock"
                          FullWidth="true" />

            <div class="flex justify-start mb-9">
                <MudLink Href="/forgot-password"
                         Class="text-sm text-blue-600 hover:underline cursor-pointer">
                    Forgot Password?
                </MudLink>
            </div>
            <div class="flex justify-center  align-items-center">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Warning"
                           OnClick="HandleLogin"
                           FullWidth="true"
                           Size="Size.Large"
                           Class="mb-2">
                    Login
                </MudButton>
            </div>
            <p class="mt-4 text-sm text-gray-600 text-center">
                Don’t have an account?
                <MudButton Variant="Variant.Filled"
                           Color="Color.Warning"
                           Size="Size.Medium"
                           Href="/register">
                    Signup
                </MudButton>
            </p>

            <div class="mt-10 grid grid-cols-3 items-center text-gray-500 gap-2">
                <hr class="border-gray-500">
                <p class="text-center">OR</p>
                <hr class="border-gray-500">
            </div>

            <button class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm">
                Login with Google
            </button>
        </div>


        <div class="hidden lg:flex w-1/2 h-full">
            <img class="h-full w-full object-cover" src="/images/gym1.jpg" alt="Gym Login" />
        </div>
    </div>
</section>

@code {
 
}
