@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>

        <NotFound>
            <h3 class="text-center mt-10 text-danger">Page Not Found</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
