html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
#qr-reader {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

    #qr-reader video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #qr-reader div.scanner-overlay {
        animation: scanPulse 2s infinite alternate;
    }

@keyframes scanPulse {
    from {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    to {
        box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full screen */
    background-color: whitesmoke; /* light background */
    position: relative;
}


/* Loader Base */
.loader {
    width: 160px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px -80px;
    z-index: 1000;
}

/* Lightsabers */
.lightsaber {
    position: absolute;
    width: 8px;
    height: 24px;
    background-color: #666;
    border-radius: 2px;
    bottom: 0;
}

    .lightsaber.ls-left {
        left: 0;
        animation: fightleft 2s ease-in-out infinite 1s;
    }

    .lightsaber.ls-right {
        right: 0;
        animation: fightright 2s ease-in-out infinite 1s;
    }

    .lightsaber.ls-green:before {
        animation: showlightgreen 2s ease-in-out infinite 1s;
    }

    .lightsaber.ls-red:before {
        animation: showlightred 2s ease-in-out infinite 1s;
    }

    /* Saber Blade */
    .lightsaber:before {
        position: absolute;
        content: ' ';
        display: block;
        width: 4px;
        height: 50px;
        left: 2px;
        top: 2px;
        background-color: #fff;
        border-radius: 2px;
        transform: rotateZ(180deg);
        transform-origin: center top;
    }

    /* Saber Hilt Glow */
    .lightsaber:after {
        position: absolute;
        content: ' ';
        display: block;
        width: 4px;
        height: 4px;
        left: 2px;
        top: 8px;
        background-color: #fff;
        border-radius: 50%;
    }

/* Particles */
.ls-particles {
    position: absolute;
    left: 84px;
    top: 20px;
    width: 2px;
    height: 10px;
    background-color: rgba(51, 51, 51, 0);
}

/* Saber Animations */
@keyframes showlightgreen {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }

    5% {
        box-shadow: 0 0 4px 2px #87c054;
    }

    10%, 80% {
        max-height: 50px;
    }

    85% {
        box-shadow: 0 0 4px 2px #87c054;
    }

    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }
}

@keyframes showlightred {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }

    20% {
        box-shadow: 0 0 4px 2px #f06363;
    }

    25%, 80% {
        max-height: 50px;
    }

    85% {
        box-shadow: 0 0 4px 2px #f06363;
    }

    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }
}

@keyframes fightleft {
    0%, 30% {
        transform: rotateZ(0deg);
        left: 0;
        bottom: 0;
    }

    40% {
        transform: rotateZ(45deg);
        bottom: 4px;
    }

    45% {
        transform: rotateZ(65deg);
        left: 0;
    }

    65% {
        transform: rotateZ(410deg);
        left: 60px;
        bottom: 20px;
    }

    95%, 100% {
        transform: rotateZ(360deg);
        left: 0;
        bottom: 0;
    }
}

@keyframes fightright {
    0%, 30% {
        transform: rotateZ(0deg);
        right: 0;
        bottom: 0;
    }

    45% {
        transform: rotateZ(-45deg);
        bottom: 4px;
    }

    50% {
        transform: rotateZ(-65deg);
        right: 0;
    }

    68% {
        transform: rotateZ(-410deg);
        right: 54px;
        bottom: 26px;
    }

    95%, 100% {
        transform: rotateZ(-360deg);
        right: 0;
        bottom: 0;
    }
}

/* Particle Animations */
@keyframes particles1 {
    0%, 63% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(35deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51,1);
        transform: rotateZ(35deg) translateY(0px);
    }

    100% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(35deg) translateY(-60px);
    }
}

@keyframes particles2 {
    0%, 63% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(-65deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51,1);
        transform: rotateZ(-65deg) translateY(0px);
    }

    100% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(-65deg) translateY(-80px);
    }
}

@keyframes particles3 {
    0%, 63% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(-75deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51,1);
        transform: rotateZ(-75deg) translateY(0px);
    }

    100% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(-75deg) translateY(-70px);
    }
}

@keyframes particles4 {
    0%, 63% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(-25deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51,1);
        transform: rotateZ(-25deg) translateY(0px);
    }

    100% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(-25deg) translateY(-60px);
    }
}

@keyframes particles5 {
    0%, 63% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(65deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51,1);
        transform: rotateZ(65deg) translateY(0px);
    }

    100% {
        background-color: rgba(51, 51, 51,0);
        transform: rotateZ(65deg) translateY(-70px);
    }
}

